body {
  font-family: "Roboto", "Noto Sans KR";
  background-color: #333;
}

#main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#main .bg {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
#main .front {
  position: absolute;
  background-image: url("../images/batman.jpg");
  width: 50%;
}
#main .back {
  background-image: url("../images/joker.jpg");
}
#main .vs {
  width: 1px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 50%;
  top: 0;
}
#main .vs:after {
  content: "vs";
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: rgb(212, 11, 11);
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 60px;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #a40808;
  user-select: none;
}
#main .vsList {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 2;
}
#main .vsList li {
  float: left;
  width: 180px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #fff;
  border-radius: 100px;
  margin-left: 10px;
  user-select: none;
  cursor: pointer;
}
#main .vsList li.on {
  background-color: rgb(212, 11, 11);
  color: #fff;
}
#main .changeCover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
}